@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cabin";
  background-color: #758190;
  margin: 0;
  padding: 10px;
}

#tentacles {
  width: 50px;
}

.header {
  display: flex;
  background-color: lightblue;
  padding: 1%;
  align-items: center;
  justify-content: space-between;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
}
.title {
  display: flex;
}
.navbar {
  display: flex;
  list-style-type: none;
}
.navbar li {
  margin: 0 10px;
  font-size: 18px;
  font-weight: 600;
  justify-content: space-between;
}

.navbar li a {
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  transition: all 0.2s ease-in-out;
}

.stats-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  /* box-shadow: 0 0 30px lightblue; */
}

.stats-card {
  background-color: #a8b0bc;
  border-radius: 7px;
  padding: 1%;
  margin: 1%;
  width: 100%;
  text-align: center;
}

#num-contributions,
#total-raised,
#num-games {
  font-size: 50px;
}

#games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game-img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px #ffffff;
}

.game-card {
  background-color: #ffffff;
  padding: 1%;
  margin: 1%;
  width: 300px;
  text-align: center;
  border-radius: 7px;
}

.game-card:hover {
  cursor: pointer;
  box-shadow: 0 0 30px lightblue;
  transition: all 0.2s ease-in-out;
}

#button-container {
  text-align: center;
}

button {
  font-family: "Cabin";
  border: none;
  padding: 1%;
  margin: 1%;
  border-radius: 7px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 30px lightblue;
  transform: scale(1.01);
  transition: all 0.2s ease-in-out;
}

/* Adding Search  */

#search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 0 12px 0;
}

#search-input {
  border: none;
  border-radius: 4px;
  padding: 1%;
  font-size: 16px;
}
#search-input:hover {
  box-shadow: 0 0 30px lightblue;
  transition: all 0.2s ease-in-out;
}

/* Styling Background info*/

H2 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 1%;
}

#description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 6px 0 12px 0;
}

/* Media Query */

@media (max-width: 772px) {
  .stats-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
